<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="shared/layout"
      th:with="pageName='drugDetails', pageTitle=#{label.lek.details}">
<body>
<div layout:fragment="custom-content" th:with="mainUrl='details?id='+${lek.id}">
<table class="table table-bordered" style="background-color: #8fd6ff;">
    <thead class="thead-dark"><tr><th colspan="2" style="text-align: center">[[#{label.lek.details}]]</th></tr></thead>
    <tr><th th:text="#{label.order.id}"></th><td>[[${lek.id}]]</td></tr>
    <tr><th th:text="#{label.lek.name}"></th><td>[[${lek.name}]]</td></tr>
    <tr><th th:text="#{label.lek.manufacturer}"></th><td>[[${lek.manufacturer}]]</td></tr>
    <tr><th th:text="#{label.lek.releaseDate}"></th><td>[[${lek.releaseDate}]]<br></td></tr>
    <tr><th th:text="#{label.lek.price}"></th><td>[[${lek.price}]]</td></tr>
    <tr><th th:text="#{label.lek.promoprice}"><td>[[${lek.promoprice}]]</td></tr>
    <tr><th th:text="#{label.lek.discount}"></th>
        <td th:if="${lek.discount == True}">[[#{label.menu.yes}]]</td>
        <td th:if="${lek.discount == False}">[[#{label.menu.no}]]</td>
    </tr>
    <tr><th th:text="#{label.lek.form}"></th><td><div th:each="form:${lek.forms}">[[${form.name}]]</div></td></tr>
    <tr><th th:text="#{label.lek.productType}"></th><td>[[${lek.productType.name}]]</td></tr>
    <tr>
        <th th:text="#{label.lek.photo}"></th></th>
        <th><img th:if="${lek.photo != null && lek.photo.fileName != null}" th:src="'/zdjecia/drugs/' + *{lek.id} + '/large/' + *{lek.photo.fileName}"/>
            <img th:unless="${lek.photo != null}" th:src="'/Placeholder.png'" width='300' height='300'/><br>
    <a th:if="${lek.photo != null && lek.photo.fileName != null}" th:href="'/zdjecia/drugs/' + *{lek.id} + '/' + *{lek.photo.fileName}"> [[#{label.photo.viewOriginal}]] </a></th></tr>

</table>
    <form th:method="POST" th:object="${review}" th:action="@{../review/save}">
        <div class="table-responsive">
            <table>
                <input type="hidden" th:field="*{drug.id}"/>
                <tr><td><input type="number" min="0" max="5" th:field="*{rating}" /></td></tr>
                <tr><td><textarea id="w3review" th:field="*{content}" rows="4" cols="50" th:placeholder="#{label.review.placeholder}" /></td></tr>
                <tr><td><input type="submit" class="btn btn-primary" th:value="#{label.menu.confirm}"></td></tr>
            </table>
        </div>
    </form>
    <table style="width: 50%; text-align: center">
        <tr>
        <tr><td><img th:each="i : ${#numbers.sequence( 1, 5, 1)}" th:src="${( i <= lek.rating ) ? '/starY.png' : (( lek.rating - i >= -0.5 ) ? '/starH.png' : '/starB.png')}" width='30' height='30' class="img-fluid"/></td></tr>
        <tr><td><span style="font-size: 35px;" th:text="${#numbers.formatDecimal(lek.getRating(), 1,2,'COMMA')}"></span></td></tr>
        </tr>
    </table>
    <table class="table table-bordered" style="max-width: 50%;" th:each="rev:${page.content}">
        <tr>
            <td style="min-width: 180px;" th:text="${rev.user.username} + ': '"></td>
            <td style="min-width: 180px;max-width: 200px;"><img th:each="i : ${#numbers.sequence( 1, 5, 1)}" th:src="${( i <= rev.rating ) ? '/starY.png' : (( rev.rating - i >= -0.5 ) ? '/starH.png' : '/starB.png')}" width='30' height='30' class="img-fluid"/></td>
            <td style="min-width: 150px;max-width: 200px;" th:text="${#temporals.format(rev.createdAt, 'dd.MM.yyyy HH:mm')}"></td>

        </tr>
        <tr>
            <td colspan="3" th:text="${rev.content}"></td>
        </tr>
    </table>
    <h3 th:if="${#lists.isEmpty(page.content)}" th:text="#{label.review.nothing}"></h3>
    <a class="btn btn-secondary" th:href="@{../drugs/list}">[[#{label.menu.return}]]</a>
</div>
</body>
</html>
<tr><th colspan="2"><img style="visibility: hidden" th:if="${lek.photo != null && lek.photo.fileName != null}" th:src="'data:mime_type;base64, ' + *{lek.photo.contentBase64}"/> </th></tr>