<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="shared/layout"
      th:with="pageName='error404', pageTitle='404 - Nie znaleziono zamówienia'">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="custom-content">
    <div>
        <div>
            Wystąpił błąd. <br>
            [[${exception.getMessage()}]]<br>
            <a th:href="${url}">Powrót</a>
        </div>
    </div>
</div>
</body>
</html>