<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="shared/layout"
    th:with="pageName='login', pageTitle='Logowanie'">
    <head>
        <meta charset="UTF-8">
    </head>
<body>
<div layout:fragment="custom-content">
    <h1>Please Log In</h1>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <input type="text" name="username" placeholder="Username"/>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <input type="submit" value="Log in"/>
    </form>
</div>
</body>
</html>